
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:300i,400,500i');
/*General styles*/
ul li{
    list-style: none;
}

#title{
    text-align: center;
}

#subtitle{
    text-align: center;
}
/*Logo navbar*/
.nav-logo{
    width: 90px;
    display: none;
}

/*Navbar general*/

.navbar-default{
    background-color: rgb(123,153, 181);
}
#nav-right-session{
    color: black;
}
.navbar .in .nav li {
   display: block;
   float: none;
   width:100%;
}


/*Segunda seccion*/

#ssection-sub{
    font-size: x-large;


}
.visa-logo{
    width: 80px;
}
.american-logo{
    width: 40px;
    padding-bottom: 10px;
}
.mastercard-logo{
    width: 50px;
}
.oxxo-logo{
    width: 80px;
}

/*Tercera seccion*/

#productos{

    border-top:5px solid rgb(91, 91, 91);
    /*border-bottom:5px solid rgb(91, 91, 91);*/

}

/*Section info*/
#info-section{
    background-color:  #3f51b5;

}

.footer-icons{
    max-width: 40px;
    /*width: 40px !important;*/
}



/* Productos */
#description{
    /*padding: ;*/
    padding-right:80px;
    padding-left: 80px;
    font-size: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 100%;        /* fallback */
    max-height: 105%;       /* fallback */

}
#box-product {
    margin-top: 10px;
    margin-bottom: 10px
}


.transition-width { transition: width 1s ease-out; webkit-transition: width 1s ease-out; }

#addCarrito:hover{
    transform: scale(1.2);
}

#addCarrito{
    transition: all .2s ease-in-out;
}


.categories:hover{
    transform:scale(1.1);

}
.fa-footer{
    color: white;
}
.categories{
    /*max-width: 200px;*/
    transition: all .2s ease-in-out;
}
.container-categorias{
    margin-top: 2em;
}
.subtitle-categories{
    text-align: center;
}

/*.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/
.img-res {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.addcart{
    text-decoration: none !important;
}

.pro-description{
    margin: 4px;
    text-align: justify;

}

@media only screen and (max-width: 990px) {
    .foot-description{
        text-align: center !important;
        /*background-color: black;*/
    }
}
