/*General styles*/
ul li{
    list-style: none;
}

#title{
    text-align: center;
}

#subtitle{
    text-align: center;
}
/*Logo navbar*/
.nav-logo{
    width: 90px;
    display: none;
}

/*Navbar general*/

.navbar-default{
    background-color: rgb(123,153, 181);
}
#nav-right-session{
    color: black;
}


/*Segunda seccion*/

#ssection-sub{
    font-size: x-large;


}
.visa-logo{
    width: 80px;
}
.american-logo{
    width: 40px;
    padding-bottom: 10px;
}
.mastercard-logo{
    width: 50px;
}
.oxxo-logo{
    width: 80px;
}

/*Tercera seccion*/

#productos{

    border-top:5px solid rgb(91, 91, 91);
    /*border-bottom:5px solid rgb(91, 91, 91);*/

}

/*Section info*/
#info-section{
    background-color: rgb(165, 165, 165);

}




/* Productos */
#description{
    /*padding: ;*/
    padding-right:80px;
    padding-left: 80px;
    font-size: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 100%;        /* fallback */
    max-height: 105%;       /* fallback */

}
#box-product {
    margin-top: 10px;
    margin-bottom: 10px
}



#addCarrito:hover{
    transform: scale(1.2);

}

.categories:hover{
    transform:scale(1.1);

}
.categories{
    /*max-width: 200px;*/
    transition: all .2s ease-in-out;
}
.subtitle-categories{
    text-align: center;
}


.addcart{
    text-decoration: none !important;
}
